<% include ./partials/header %>

  <% users.forEach(function(user) { %>
    <div class="row bg-dark">
      <div class="col-md-2">
        <div class="thumbnail small">
          <img src="<%=user.avatar%>" alt="user profile image">
        </div>
      </div>
      <div class="col-md-3">
        <h3 class="profile-username"><%=user.firstName + " " + user.lastName %></h3>
        <p class="profile-username"><%=user.email %></p>
        <div class="profile-username"><%=user.username%></div>
      </div>
      <div class="col-md-4">
        <h4>Campgrounds posted by <%= user.username %></h4>
        <% if(user.campgrounds.length < 1) { %>
          <h6 class="mt-4 ml-2"><em>No campgrounds submitted yet...</em></h6>
        <% } else { %>
          <% user.campgrounds.forEach(function(campground) { %>
            <p class="user-campground-list">
              <a href="/campgrounds/<%= campground.id %>">
                <%= campground.name %>
              </a>
            </p>
          <% }) %>
        <% } %>
      </div>
      <div class="col-md-3">
        <div>
          <% if(!user.isAdmin) { %>
            <label for="isAdmin">Admin</label>
            <input type="checkbox" id="isAdmin" name="isAdmin" value="Admin">
          <% } else { %>
            <label for="isAdmin">Admin</label>
            <input type="checkbox" id="isAdmin" name="isAdmin" value="Admin" disabled="disabled" checked="checked">
          <% } %>
        </div>
        <% if (!user.isAdmin) { %>
          <p><a class="btn btn-warning" href="#">Update</a></p>
        <% } else { %>
          <p><a class="btn btn-warning" href="#" disabled>Update</a></p>
        <% } %>
        <% if (!currentUser) { %>
          <p><a class="btn btn-danger" href="#">Delete User</a></p>
        <% } else { %>
          <p><a class="btn btn-danger" href="#" disabled>Delete User</a></p>
        <% } %>
      </div>
    </div>
    <br>
  <% }); %>

<% include ./partials/footer %>