<% include ./partials/header %>
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1 class="">Admin Control   Panel</h1>
      <h2 class=" lead"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Denotes User is Admin</h2>
      <h2 class=" lead"><i class="fa fa-lock" aria-hidden="true"></i> Denotes User is not Admin</h2>
    </div>
  </div>

  <% users.forEach(function(user) { %>
    <div class="row bg-dark text-center usersection">
      <div class="col-md-2">
        <% if(!user.isAdmin) { %>
          <h5><strong><a href="/users/<%=user.id%>"><%= user.firstName + " " + user.lastName %> </a><i class="fa fa-lock" aria-hidden="true"></i></strong></h5>
        <% } else { %>
          <h5><strong><a href="/users/<%=user.id%>"><%= user.firstName + " " + user.lastName %> </a><i class="fa fa-unlock-alt" aria-hidden="true"></i></strong></h5>
        <% } %>
        <div class="thumbnail">
          <img class="img-responsive" src="<%=user.avatar%>" alt="user profile image">
        </div>
      </div>
      <div class="col-md-6">
        <h5>List of <%= user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1) %>'s Campgrounds</h5>
        <% if(user.campgrounds.length < 1) { %>
          <h6 class="mt-4 ml-2"><em>No campgrounds submitted yet...</em></h6>
        <% } else { %>
          <% user.campgrounds.forEach(function(campground) { %>
            <ul>
              <li><a href="/campgrounds/<%= campground.id %>">
                <%= campground.name %>
              </a> -<em><%= moment(campground.createdAt).fromNow() %></em></li>
            </ul>
          <% }) %>
        <% } %>
      </div>
      <div class="col-md-4">
        <h5>Actions</h5>
        <span class="inline">
          <% if(!user.isAdmin) { %>
            <form action="/user/<%=user.id%>?_method=PUT" method="post">
              <label class="userbtn fixed"><input id="check" type="checkbox" name="makeAdmin"> Admin</label>
              <button id="btncheck" class="btn btn-warning userbtn" type="submit">Make Admin</button>
            </form>
            <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger userbtn">Delete</button>
            </form>
          <% } else { %>
            <h4>No Actions Necessary</h4>
          <% } %>
        </span>
      </div>
    </div>
  <% }); %>

<% include ./partials/footer %>