<% include ../partials/header %>

<div class="row">
    <h1 class="text-center">Edit </h1>
    <div class="form-size">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="campgroundName">Campground Name</label>
                <input id="campgroundName" class="form-control" type=text name="campground[name]" value="<%=campground.name%>">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input id="image" class="form-control" type=file name="campground[image]" value="<%=campground.image%>">
            </div>
            <% if(campground.image !== "/uploads/no-image.png") { %>
                <div class="checkbox">
                  <img src="<%= campground.image %>" width="50px">
                  <label><input type="checkbox" name="removeImage">Remove image?</label>
                </div>
                <% } %>
            <div class="form-group">
                <label for="campgroundCost">Price of Campground</label>
                <input id="campgroundCost" class="form-control" type="number" name="campground[cost]" value="<%= campground.cost %>" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
            </div>
            <div class="form-group">
                <label for="description"></label>
                <input id="description" class="form-control" type=text name="campground[description]" value="<%=campground.description%>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a class="btn btn-sm btn-success" href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>