<% include ../partials/header %>

  <div class="row bg-dark text-center">
    <div class="col-md-3">
      <h5><%=user.firstName + " " + user.lastName %></h5>
      <div class="thumbnail">
        <img class="img-responsive" src="<%=user.avatar%>" alt="user profile image">
      </div>
      <hr class="style-two">
      <p class="text-left">Bio:  <%= user.bio %></p>
    </div>
    <div class="col-md-6">
      <h4>Campgrounds posted by <%= user.username %></h4>
      <% if(campgrounds.length < 1) { %>
        <h6 class="mt-4 ml-2"><em>No campgrounds submitted yet...</em></h6>
        <% } else { %>
          <% campgrounds.forEach( campground => { %>
            <p class="user-campground-list">
              <a href="../campgrounds/<%= campground.id %>">
                <%= campground.name %>
              </a>
              - <em></em>posted: <%= moment(campground.createdAt).fromNow() %></em>
            </p>
            <% }) %>
              <% } %>
    </div>
    <div class="col-md-3">
      <h5>Actions</h5>  
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <div class="text-center">
          <span class="inline">
            <a class="profile-username btn btn-warning userbtn" href="/users/<%= user._id %>/edit">
              Edit Profile </a>
            <form action="/users/<%=user.id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger userbtn">Delete</button>
            </form>
          </span>
        </div>
        <% } %>
    </div>
  </div>

  <% include ../partials/footer %>